@import "../../constants.scss";

.programs {
  display: flex;
  padding: 0.5rem;
  flex-wrap: wrap;
}

.program {
  width: 8rem;
  text-align: center;

  img {
    margin-top: 0.5rem;
    height: 3rem;
    width: auto;
  }
}

.program:active {
  color: $white;
  background: $blue;
}
