$border-size: 2px;
$blue: #0000a8;
$green: #54a8a8;
$white: #fcfcfc;
$gray: #c0c4c8;
$dark-gray: #84888c;
$black: #050A0A;
$title-bar-gap-size: 0.25rem;
$gap-size: 1rem;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin top-left-border($color) {
  border-top: $border-size solid $color;
  border-left: $border-size solid $color;
}

@mixin bottom-right-border($color) {
  border-bottom: $border-size solid $color;
  border-right: $border-size solid $color;
}

@mixin two-color-border($color1, $color2) {
  @include top-left-border($color1);
  @include bottom-right-border($color2);
}
