@import "./../../constants.scss";

.sidebar {
  @include two-color-border($white, $dark-gray);
  grid-area: sidebar;
  padding: 0.5rem;
  background: $gray;
}

.esolang {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 0.25rem;

  img {
    width: calc(100% - 2rem);
    height: auto;
    margin-bottom: 0.25rem;
  }
}
