@import "./../../constants.scss";

.outerWindow {
  @include two-color-border($gray, $black);
  min-height: 0;
  min-width: 0;
}

.innerWindow {
  @include two-color-border($white, $dark-gray);
  display: grid;
  grid-template-areas: "titleBar" "actions" "underActions" "content";
  grid-template-rows: 2rem auto auto 1fr;
  grid-template-columns: 1fr;
  height: 100%;
  padding: 3px;
  background: $gray;
}

.titleBar {
  grid-area: titleBar;
  background: $blue;
}

.title {
  float: left;
  color: white;
  margin-left: $title-bar-gap-size;
  margin-top: $title-bar-gap-size;
  font-weight: bold;
  height: 1.5rem;
  line-height: 1.5rem;

  p {
    float: left;
    margin-left: $title-bar-gap-size;
  }

  img {
    float: left;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.titleBarButtons {
  float: right;
  display: flex;
  flex-direction: row;
  margin-top: $title-bar-gap-size;
  margin-right: $title-bar-gap-size;

  .outerButton:nth-child(3) {
    margin-left: $title-bar-gap-size;

    img {
      width: 0.9rem;
    }
  }
}

.outerButton {
  @include bottom-right-border($black);
  height: 1.5rem;
  width: 1.6rem;
}

.innerButton {
  @include flex-center;
  @include two-color-border($white, $dark-gray);
  background: $gray;
  width: 100%;
  height: 100%;

  img {
    width: 1rem;
    height: auto;
  }
}

.outerContent {
  @include two-color-border($dark-gray, $white);
  grid-area: content;
  overflow: auto;
}

.innerContent {
  @include two-color-border($black, $gray);
  height: 100%;
  background: $white;
  overflow: auto;
}

.actions {
  display: flex;
  align-items: center;
  grid-area: actions;
  margin-top: 3px;
}

.underActions {
  grid-area: underActions;
  height: 100%;
  width: 100%;
}
